* {
  margin: 0;
  padding: 0;
  text-decoration: auto;
  font-style: normal;
  color: var(--black);
  list-style: none;
  font-family: "NunitoSans-Regular";
}

a {
  color: var(--white);
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url(/src/fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "NunitoSans-Italic";
  src: url(src/fonts/NunitoSans-Italic.ttf);
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url(src/fonts/YesevaOne-Regular.ttf);
}

/* CONST */

:root {
  --gold: #e3b873;
  --white: #ffffff;
  --black: #131313;
  --grey: #363636;
}

h2.title {
  font-family: "YesevaOne-Regular";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 400;
}

p.subtitle {
  font-family: "YesevaOne-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  background: var(--gold);
  font-family: "NunitoSans-Italic";
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 10px 26px;
  margin: 24px 0 22px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  border: none;
}

.active a {
  color: var(--gold);
}

main .container {
  padding-left: 133px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0px 92px;
}

.container-new {
  max-width: 1440px;
  margin: auto;
  padding: 0 102px;
}

.form-measurer input::placeholder,
section.form-question input::placeholder,
section.form-question textarea::placeholder {
  color: var(--white);
}

.form-online input::placeholder {
  color: var(--black);
}

.label {
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background-color: var(--gold);
  color: #fff;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}

/* HEADER / FOOTER */

.header,
.footer {
  background-color: var(--black);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: var(--white);
  text-transform: uppercase;
}

.header .container,
.footer .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul.menu-list {
  display: flex;
  margin-left: 80px;
}

.logo-text {
  padding: 24px 0;
}

ul.menu-list li {
  margin-right: 55px;
}

.logo-text p,
.phone a {
  color: var(--gold);
}

/* START SCENE */

.start {
  background-image: url(/src/img/img_1.png);
  padding: 191px 0 179px;
}

.start h2 {
  color: var(--white);
  padding-bottom: 17px;
}

h2.title span {
  color: var(--gold);
}

.start .content {
  width: 520px;
}

.start p {
  font-size: 22px;
  line-height: 36px;
  color: var(--white);
}

.start .button {
  padding: 19px 32px;
}

.start .button.submit {
  padding: 18px 18px;
  color: var(--white);
  background: rgb(255 255 255 / 0%);
  border: 1px solid var(--white);
  border-radius: 2px;
  margin-left: 15px;
}

/* PROJECTS */

section.projects {
  background-color: var(--black);
  padding-bottom: 404px;
}

.projects .container {
  display: flex;
  flex-wrap: wrap;
}

.projects .info {
  display: grid;
  grid-template-columns: 180px 180px;
  padding-top: 48px;
}

.projects h2 {
  color: var(--gold);
  font-size: 27px;
  line-height: 37px;
  padding: 176px 0 25px;
  width: 190px;
}

.item .info-title {
  font-family: YesevaOne-Regular;
  color: var(--gold);
  text-transform: uppercase;
}

.projects ul.tabs-list {
  display: flex;
  padding: 109px 0 50px;
}

.projects ul.tabs-list li {
  font-family: YesevaOne-Regular;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 60px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.mobile-slider {
  display: none;
}

img.arr-left {
  width: 25%;
  position: absolute;
  top: 30%;
  left: 0;
  cursor: pointer;
}

img.arr-right {
  width: 25%;
  position: absolute;
  top: 30%;
  right: 0;
  cursor: pointer;
}

.projects ul.tabs-list li.active {
  color: var(--gold);
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.projects p {
  color: var(--white);
  font-size: 14px;
  line-height: 27px;
}

.projects .side-left {
  margin-right: 59px;
}

.info .item {
  padding-bottom: 18px;
}

.projects .nav {
  padding-top: 51px;
  display: flex;
  align-items: center;
}

.dot {
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 8px;
}

.left-arrow {
  margin-right: 20px;
  cursor: pointer;
}

.right-arrow {
  margin-left: 20px;
  cursor: pointer;
}

/* ONLINE-VIDEO */

.container-online {
  width: 922px;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 27px;
}

section.online-control p.subtitle {
  color: var(--white);
  position: relative;
}

.container-online .play-button {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 18%;
}

.online {
  position: relative;
}

section.online-control {
  padding-bottom: 652px;
  position: relative;
}

section.online-control P {
  font-size: 18px;
  line-height: 37px;
  width: 644px;
  margin: 0px auto;
  padding-bottom: 5px;
}

img.online-video {
  margin-bottom: 22px;
}

.form-online {
  width: 766px;
  margin: auto;
}

.form-online form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 37px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-online label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.form-online input#name-text,
.form-online input#phone-num {
  font-size: 14px;
  line-height: 23px;
  color: var(--grey);
  width: 231px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.form-online input.button {
  padding: 20px 76px;
}

/* REPAIR */

section.types-of-repair p.subtitle {
  position: relative;
  margin: 120px 0 70px;
}

section.types-of-repair p.subtitle:after {
  content: url("src/svg/repair.svg");
  top: 35px;
  left: 0;
  right: 0;
  position: absolute;
}

section.types-of-repair {
  padding-bottom: 42px;
}

section.types-of-repair .container-new {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.types-of-repair .type {
  position: relative;
  height: 645px;
}

section.types-of-repair .info-type {
  background-color: var(--white);
  width: 258px;
  margin: 0px auto;
  top: 296px;
  left: 0;
  right: 0;
  position: absolute;
  padding: 27px 33px;
}

section.types-of-repair .button {
  margin-left: -25px;
  border: none;
  font-family: "YesevaOne-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 14px 21px;
}

p.info-title {
  font-family: "YesevaOne-Regular";
  font-size: 18px;
  line-height: 25px;
  color: var(--grey);
  padding-bottom: 7px;
}

ul.type-list li {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  list-style: disc;
  margin-left: 15px;
}

/* BENEFITS */

section.benefits-and-form {
  padding-top: 94px;
}

section.benefits-and-form .benefits {
  width: 699px;
  padding-top: 8px;
}

section.benefits-and-form .container {
  display: flex;
  background-image: url("src/img/img_7.png");
  background-repeat: no-repeat;
  background-position-y: 2%;
  padding-top: 65px;
  flex-wrap: wrap;
}

section.benefits-and-form .benefits-list {
  counter-reset: my-counter;
  padding-left: 107px;
}

section.benefits-and-form .benefits-list li {
  counter-increment: my-counter;
  margin-bottom: 113px;
  padding-left: 65px;
  position: relative;
  width: 400px;
}

section.benefits-and-form .benefits-list li::before {
  content: "0" counter(my-counter);
  background-color: var(--gold);
  border: 8px solid var(--white);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  padding: 10px;
  color: var(--white);
  font-size: 18px;
  font-family: "YesevaOne-Regular";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
}

/* FORMS */

.form-measurer form {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  padding: 27px 48px 16px;
  width: 415px;
}

.form-measurer form p.form-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  margin: auto;
  width: 220px;
  padding-bottom: 35px;
}

.form-measurer label {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.form-measurer input.button {
  width: 224px;
  margin-left: auto;
  margin-top: 37px;
}

.form-measurer input#name-text,
.form-measurer input#phone-num,
.form-measurer input#email-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form-measurer input#name-text,
.form-measurer input#phone-num {
  margin-bottom: 53px;
}

.form-measurer input#email-text {
  margin-bottom: 19px;
}

.form-measurer span.text {
  color: var(--white);
}

.text-save {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-left: 10px;
}

.text-save p {
  margin-bottom: 25px;
  width: 200px;
  font-style: normal;
  font-weight: 400;
  margin-left: 10px;
  font-size: 18px;
  line-height: 26px;
  color: var(--gold);
}

/* GALLERY */

section.gallery {
  display: flex;
  background-image: url("src/img/img_8.png");
  background-repeat: no-repeat;
  height: 742px;
  padding: 0px 0px 126px;
  margin-top: 214px;
  background-size: cover;
  flex-wrap: wrap;
  position: relative;
}

.gallery-list h2 {
  padding: 120px 0 32px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--gold);
  width: 300px;
}

ul.view-list li.active {
  color: var(--gold);
  border-bottom: 1px solid;
  padding-bottom: 0px;
  width: fit-content;
}

ul.view-list li {
  font-size: 20px;
  line-height: 38px;
  color: var(--white);
  margin-bottom: 12px;
  cursor: pointer;
}

section.gallery .image-1 {
  position: absolute;
  top: -41px;
  right: 499px;
}

section.gallery .image-1 img.arr-left,
section.gallery .image-1 img.arr-right {
  display: none;
}

section.gallery .image-2 {
  position: absolute;
  bottom: -40px;
  right: 499px;
}

section.gallery .image-3 {
  position: absolute;
  right: 101px;
  top: -115px;
}

.gallery-list {
  padding-left: 97px;
  padding-top: 17px;
}

section.gallery .image-4 {
  position: absolute;
  right: 101px;
  bottom: 39px;
}

/* REVIEW */

section.reviews p.subtitle {
  position: relative;
  margin-bottom: 55px;
  margin-top: 111px;
}

section.reviews p.subtitle:after {
  content: url("src/svg/clients.svg");
  top: 35px;
  left: 0;
  right: 0;
  position: absolute;
}

section.reviews p.subtitle-reviews {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: var(--grey);
  padding-bottom: 70px;
  width: 376px;
  margin: auto;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-name p {
  font-family: "YesevaOne-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--black);
}

.review-name {
  display: flex;
  align-items: center;
  padding-bottom: 19px;
  padding-left: 22px;
  width: 260px;
}

.review-name img {
  margin-right: 14px;
  border-radius: 100%;
}

.review-item {
  width: 370px;
}

.review-text p {
  font-size: 13px;
  line-height: 180%;
  /* or 23px */
  color: #959595;
}

.review-info {
  margin-top: 76px;
  margin-left: -15px;
}

.review-text {
  padding-left: 20px;
}

/* QUESTION */

section.form-question p.form-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-family: "YesevaOne-Regular";
  padding-bottom: 43px;
}

section.form-question .container {
  background-color: var(--black);
  width: 505px;
  padding: 34px 190px;
  text-align: center;
  z-index: 10;
  position: absolute;
  margin-top: 100px;
  left: 0;
  right: 0;
}

section.form-question .button {
  padding: 18px 84px;
}

section.form-question input#name-text {
  margin-bottom: 20px;
}

section.form-question span.text {
  color: var(--white);
}

section.form-question label {
  color: rgba(255, 255, 255, 0.5);
}

section.form-question input#name-text,
section.form-question input#phone-num,
section.form-question textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

.wrapper .field {
  width: 43%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.form-question .first-checkbox {
  margin-top: 55px;
  margin-bottom: 20px;
}

/* CONTACTS */

section.contacts {
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(24, 24, 24, 0.9) 3.47%,
      rgba(24, 24, 24, 0.72) 100%
    ),
    url("src/img/img_16.jpg");
  padding: 266px 0 90px;
  margin-top: 320px;
  position: relative;
}

section.contacts h2 {
  color: var(--gold);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: "YesevaOne-Regular";
  padding: 7px 0;
  margin: auto;
  width: 550px;
}

section.contacts .social {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 37px;
}

.map {
  width: 900px;
  margin: auto;
}

.map iframe {
  margin: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .container,
  .container-new {
    padding: 0px 18px;
  }

  .form-online input.button,
  .form-online,
  section.contacts h2,
  .wrapper .field,
  .field,
  img.online-video,
  .mobile-slider img.main-img,
  .start .content {
    width: 100%;
  }

  ul.menu-list,
  .header button.button,
  .side-right,
  .projects .nav,
  section.benefits-and-form,
  section.reviews,
  section.gallery .image-2,
  section.gallery .image-3,
  section.gallery .image-4,
  ul.view-list,
  footer.footer {
    display: none;
  }

  .phone a {
    color: var(--white);
  }

  main .container {
    padding-left: 15px;
  }

  .start .button {
    display: block;
    width: 100%;
  }

  .start .button.submit {
    margin-left: 0px;
  }

  .start {
    padding: 85px 0 60px;
  }

  .projects h2 {
    margin: auto;
    padding: 60px 0 25px;
  }

  .projects .container {
    justify-content: center;
    text-align: center;
  }

  section.projects {
    padding-bottom: 40px;
  }

  .projects .side-left {
    margin-right: 0px;
  }

  .mobile-slider {
    display: block;
    margin-top: 60px;
    position: relative;
  }

  .projects .info {
    justify-content: space-between;
  }

  .container-online {
    position: static;
    background-color: var(--black);
    width: auto;
    padding-bottom: 50px;
  }

  section.online-control P {
    width: auto;
    color: var(--white);
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .form-online input.button {
    padding: 20px 76px;
    margin: 80px 0 30px;
  }

  .form-online form {
    padding: 0 15px;
    flex-direction: column;
  }

  .form-online .field {
    margin-top: 55px;
  }

  .form-online input#name-text,
  .form-online input#phone-num {
    background-color: var(--black);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
  }

  .form-online input::placeholder,
  .form-online span.text {
    color: var(--white);
  }

  section.online-control {
    padding-bottom: 0px;
  }

  section.types-of-repair .info-type {
    margin: 0;
  }

  section.types-of-repair {
    padding-bottom: 0px;
  }

  .gallery-image {
    position: relative;
  }

  section.gallery .image-1 {
    position: static;
  }

  section.gallery .image-1 img.arr-right,
  section.gallery .image-1 img.arr-left {
    display: block;
    top: 200px;
  }

  .gallery-list h2 {
    padding: 0px 0px 32px;
    text-align: center;
    margin: auto;
  }

  section.gallery {
    margin-top: 10px;
    background: none;
    justify-content: center;
    padding: 0px;
  }

  section.types-of-repair p.subtitle {
    margin: 30px 0 70px;
  }

  section.form-question .container {
    width: auto;
    padding: 350px 18px 50px;
    z-index: -1;
    position: static;
  }

  section.form-question .first-checkbox {
    text-align: left;
    margin: 24px 0 65px;
  }

  section.form-question .button {
    display: block;
    width: 100%;
  }

  section.form-question input#name-text,
  section.form-question input#phone-num {
    margin-bottom: 60px;
  }

  .wrapper {
    display: block;
  }

  section.types-of-repair .container-new {
    justify-content: center;
  }

  section.gallery {
    height: 300px;
    display: block;
    text-align: center;
  }

  .gallery-list {
    padding-left: 0px;
  }

  section.contacts {
    padding: 0;
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
    background: var(--black);
  }

  section.contacts h2 {
    order: 20;
    padding: 40px;
  }

  section.contacts .social {
    order: 30;
  }

  section.form-question p.form-title {
    padding-bottom: 52px;
  }

  section.contacts .social img {
    width: 50px;
  }

  section.contacts .social {
    width: 120px;
  }

  section.contacts .map {
    width: 95%;
    padding: 0 18px;
    order: 10;
  }
}
