* {
  margin: 0;
  padding: 0;
  text-decoration: auto;
  font-style: normal;
  color: var(--black);
  list-style: none;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url(/src/fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "NunitoSans-Italic";
  src: url(src/fonts/NunitoSans-Italic.ttf);
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url(src/fonts/YesevaOne-Regular.ttf);
}

:root {
  --gold: #e3b873;
  --white: #ffffff;
  --black: #131313;
}

a {
  color: var(--white);
}

body {
  font-family: "NunitoSans-Regular";
}

.header {
  background-color: var(--black);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: var(--white);
  text-transform: uppercase;
}

.container_new {
  width: 1256px;
  max-width: 1440px;
  margin: auto;
}

main .container_new {
  padding-left: 42px;
}

.header .container_new {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

ul.menu_list {
  display: flex;
  margin-left: 70px;
}

ul.menu_list li {
  margin-right: 55px;
}

.logo_text p,
.phone a {
  color: var(--gold);
}

.button {
  background: var(--gold);
  font-family: "NunitoSans-Italic";
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 13px 40px;
  margin: 24px 0 22px;
  text-transform: uppercase;
  color: var(--white);
}

.start {
  background-image: url(/src/img/img_1.png);
  padding: 194px 0 208px;
}

h2.title {
  font-family: "YesevaOne-Regular";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 400;
}

.start h2 {
  color: var(--white);
}

h2.title span {
  color: var(--gold);
}

.start .content {
  width: 520px;
}

.start p {
  font-size: 22px;
  line-height: 36px;
  color: var(--white);
}

.start .button {
  padding: 19px 41px;
}

.start .button.submit {
  padding: 19px 22px;
  color: var(--white);
  border: 1px solid red;
  background: rgb(255 255 255 / 0%);
  border: 1px solid var(--white);
  border-radius: 2px;
  margin-left: 15px;
}

section.projects {
  background-color: var(--black);
  padding-bottom: 400px;
}

.projects .container_new {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.projects .info {
  display: grid;
  grid-template-columns: 180px 180px;
  padding-top: 45px;
}

.projects h2 {
  color: var(--gold);
  font-size: 27px;
  line-height: 37px;
  padding: 176px 0 34px;
}

.item .info_title {
  font-family: YesevaOne-Regular;
  color: var(--gold);
  text-transform: uppercase;
}

.projects ul.tabs_list {
  display: flex;
  padding: 107px 0 50px;
}

.projects ul.tabs_list li {
  font-family: YesevaOne-Regular;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 30px;
}

.projects p {
  color: var(--white);
  font-size: 14px;
}

.projects .side_left {
  margin-right: 50px;
}

.info .item {
  padding-bottom: 34px;
}

.projects .nav {
  padding-top: 90px;
  display: flex;
  align-items: center;
}

.dot {
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 5px;
}

object.left_arrow {
  margin-right: 20px;
}

object.right_arrow {
  margin-left: 20px;
}

.container_online {
  width: 817px;
  margin: auto;
  text-align: center;
  position: relative;
}

.container_online p.subtitle {
  position: relative;
}

.container_online p.subtitle:after {
  content: url("src/svg/control.svg");
  bottom: -45px;
  left: 0;
  right: 0;
  position: absolute;
}

.container_online img {
  width: 100%;
  margin-top: 70px;
}

object.play_button img {
  width: auto;
}

object.play_button {
  position: absolute;
  left: 0;
  right: 0;
  top: 27%;
}

section.online_control {
  margin-top: -344px;
}

p.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

section.online_control P {
  line-height: 37px;
  font-size: 18px;
  width: 645px;
  margin: auto;
}
