* {
  margin: 0;
  padding: 0;
  text-decoration: auto;
  font-style: normal;
  color: var(--black);
  list-style: none;
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url(/src/fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "NunitoSans-Italic";
  src: url(src/fonts/NunitoSans-Italic.ttf);
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url(src/fonts/YesevaOne-Regular.ttf);
}

:root {
  --gold: #e3b873;
  --white: #ffffff;
  --black: #131313;
}

a {
  color: var(--white);
}

body {
  font-family: "NunitoSans-Regular";
}

p.subtitle {
  font-family: "YesevaOne-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  background-color: var(--black);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: var(--white);
  text-transform: uppercase;
}

.container {
  width: 1256px;
  max-width: 1440px;
  margin: auto;
}

main .container {
  padding-left: 42px;
}

.header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

ul.menu_list {
  display: flex;
  margin-left: 70px;
}

ul.menu_list li {
  margin-right: 55px;
}

.logo_text p,
.phone a {
  color: var(--gold);
}

.button {
  background: var(--gold);
  font-family: "NunitoSans-Italic";
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 13px 40px;
  margin: 24px 0 22px;
  text-transform: uppercase;
  color: var(--white);
}

.start {
  background-image: url(/src/img/img_1.png);
  padding: 194px 0 208px;
}

h2.title {
  font-family: "YesevaOne-Regular";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  font-weight: 400;
}

.start h2 {
  color: var(--white);
}

h2.title span {
  color: var(--gold);
}

.start .content {
  width: 520px;
}

.start p {
  font-size: 22px;
  line-height: 36px;
  color: var(--white);
}

.start .button {
  padding: 19px 41px;
}

.start .button.submit {
  padding: 19px 22px;
  color: var(--white);
  border: 1px solid red;
  background: rgb(255 255 255 / 0%);
  border: 1px solid var(--white);
  border-radius: 2px;
  margin-left: 15px;
}

section.projects {
  background-color: var(--black);
  padding-bottom: 400px;
}

.projects .container {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.projects .info {
  display: grid;
  grid-template-columns: 180px 180px;
  padding-top: 45px;
}

.projects h2 {
  color: var(--gold);
  font-size: 27px;
  line-height: 37px;
  padding: 176px 0 34px;
}

.item .info_title {
  font-family: YesevaOne-Regular;
  color: var(--gold);
  text-transform: uppercase;
}

.projects ul.tabs_list {
  display: flex;
  padding: 107px 0 50px;
}

.projects ul.tabs_list li {
  font-family: YesevaOne-Regular;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 30px;
}

.projects p {
  color: var(--white);
  font-size: 14px;
}

.projects .side_left {
  margin-right: 50px;
}

.info .item {
  padding-bottom: 34px;
}

.projects .nav {
  padding-top: 90px;
  display: flex;
  align-items: center;
}

.dot {
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 5px;
}

object.left_arrow {
  margin-right: 20px;
}

object.right_arrow {
  margin-left: 20px;
}

.container_online {
  width: 817px;
  margin: auto;
  text-align: center;
  position: relative;
}

section.online_control p.subtitle {
  color: var(--white);
  position: relative;
}

.container_online p.subtitle:after {
  content: url("src/svg/control.svg");
  bottom: -45px;
  left: 0;
  right: 0;
  position: absolute;
}

.container_online img {
  width: 100%;
  margin-top: 70px;
}

object.play_button img {
  width: auto;
}

object.play_button {
  position: absolute;
  left: 0;
  right: 0;
  top: 27%;
}

section.online_control {
  margin-top: -344px;
  padding-bottom: 130px;
}

section.online_control P {
  line-height: 37px;
  font-size: 18px;
  width: 645px;
  margin: auto;
}

.form_online form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 91px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_online label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.form_online input#name_text,
.form_online input#phone_num {
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  width: 231px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.form_online input.button {
  padding: 20px 76px;
}

.label {
  cursor: pointer;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}

section.types_of_repair p.subtitle {
  position: relative;
  margin-bottom: 70px;
}

section.types_of_repair p.subtitle:after {
  content: url("src/svg/repair.svg");
  bottom: -45px;
  left: 0;
  right: 0;
  position: absolute;
}

section.types_of_repair {
  padding-bottom: 260px;
}

section.types_of_repair .container {
  display: flex;
  justify-content: space-between;
}

.info_type {
  background-color: var(--white);
  width: 330px;
  margin: -90px auto;
  z-index: 5;
  position: relative;
  padding: 20px;
}

p.info_title {
  font-family: "YesevaOne-Regular";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

ul.type_list li {
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  list-style: disc;
  margin-left: 15px;
}

section.benefits_and_form .container {
  display: flex;
  background-image: url("src/img/img_7.png");
  background-repeat: no-repeat;
  background-position-y: -35%;
  padding-top: 65px;
}

section.benefits_and_form .benefits_list {
  counter-reset: my-counter;
  padding-left: 160px;
}

section.benefits_and_form .benefits_list li {
  counter-increment: my-counter;
  margin-bottom: 127px;
  padding-left: 65px;
  position: relative;
}

section.benefits_and_form .benefits_list li::before {
  content: "0" counter(my-counter);
  background-color: var(--gold);
  border: 8px solid var(--white);
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  padding: 10px;
  color: var(--white);
  font-size: 18px;
  font-family: "YesevaOne-Regular";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
}

.form_measurer form {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  padding: 23px;
}

.form_measurer form p.form_title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
}

.form_measurer label {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.form_measurer input#name_text,
.form_measurer input#phone_num,
.form_measurer input#email_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  color: var(--white);
  background-color: var(--black);
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form_measurer span.text {
  color: var(--white);
}

.text_save {
  display: flex;
  align-items: center;
}

.text_save p {
  margin-bottom: 25px;
}

section.gallery .container {
  display: flex;
  background-image: url("src/img/img_8.png");
  background-repeat: no-repeat;
  height: 850px;
}

.gallery-list h2 {
  padding: 120px 0 40px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--gold);
}

ul.view-list li {
  font-size: 20px;
  line-height: 38px;
  color: var(--white);
  padding-bottom: 15px;
}

.gallery-image {
  position: relative;
  width: 70%;
}

.image-1 {
  position: absolute;
  top: -41px;
}

.image-2 {
  position: absolute;
  bottom: -47px;
}

.image-3 {
  position: absolute;
  right: 70px;
  top: -106px;
}

.gallery-list {
  width: 25%;
  padding-left: 56px;
}

.image-4 {
  position: absolute;
  right: 69px;
  bottom: 26px;
}

section.gallery {
  padding: 180px 0 100px;
}

section.reviews p.subtitle {
  position: relative;
  margin-bottom: 55px;
}

section.reviews p.subtitle:after {
  content: url("src/svg/clients.svg");
  bottom: -45px;
  left: 0;
  right: 0;
  position: absolute;
}

section.reviews p.subtitle-reviews {
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  padding-bottom: 50px;
}

.reviews_list {
  display: flex;
  justify-content: space-between;
}

.review-name p {
  font-family: "YesevaOne-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--black);
}

.review-name {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 30px;
}

.review-name img {
  margin-right: 25px;
  border-radius: 100%;
}

.review-item {
  width: 370px;
}

.review-text p {
  font-size: 13px;
  line-height: 180%;
  /* or 23px */
  color: #959595;
}

.review-info {
  margin-top: 22px;
}

.review-text {
  padding-left: 30px;
}
